{{!-- {{#each partials}}
    <div class ="card">
        <!--<a href="https://github.com/Quaz711">-->
        <h2 class="small-txt" style="color:white">{{card.name}}PEACH</h2>
        <p class="small-txt" style="color:white">{{card.sport}}</p>
        <p class="small-txt" style="color:white">{{card.city}}, {{card.state}}</p>
        <button class="btn-primary btn-block" id="joinTeam{{cardTeams.id}}"  onclick="joinTeam({{cardTeams.id}})">Join</button>
        <!--</a>-->
    </div>
{{/each}} --}}